<footer class="footer bg-dark">
  <p>Developed by Ahmed Yasser</p>
  <ul class="social_footer_ul">
      <li><a href="https://www.facebook.com/profile.php?id=100009815081482" target="blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://twitter.com/new_user_namee" target="blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/ahmedyasser54/" target="blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://www.instagram.com/a7md_yasr/" target="blank"><i class="fab fa-instagram"></i></a></li>
  </ul>        
</footer>