{% extends 'base.html' %}
{% load static %}
{% block styles %}
{% if validlink %}
<link rel="stylesheet" href="{% static 'css/newPassword.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'css/passFailed.css' %}">
{% endif %}
{% endblock %}
{% block content %}
{% if validlink %}
    <form method="POST">
        {% csrf_token %}
        <div class="reset-container-p3">
            <p>You can type your new password here</p>
            {{form.new_password1}}
            {{form.new_password2}}
            {{form.new_password1.errors}}
            {{form.new_password2.errors}}
            <input type="submit" name="" id="submit-reset" value="Save">
        </div>
    </form>
{% else %}
  <div class="reset-container">
        <div class="correct">
            <span class="r1"></span>
            <span class="l1"></span>
        </div>
        <p>This link is not vaild you may have used it before .... please request another password reset
        </p>
    </div>
    {% endif %}
{% endblock %}
