{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/emailSent.css' %}">
<style>
.loginurl{
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}
.loginurl:hover{
    color: aquamarine;

}
</style>
{% endblock %}
{% block content %}
<div class="reset-container">
    <div class="correct">
        <span class="r1"></span>
        <span class="l1"></span>
    </div>
    <p>Your password was changed successfully now you can <a href="{%url 'login' %}" class="loginurl">Log in</a> to your account</p>

</div>
{% endblock %}