*{box-sizing: border-box;}
:root {--main--color: #11c3c1;}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #000 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
body{background-color:#000;color:var(--main--color)}
.reset-container-p3{width:fit-content;margin:65px auto;}
#id_new_password1 , #id_new_password2 , #submit-reset{
    display:block;
    margin:20px 0;
    outline:none;
    height:40px;
    width:300px;
    border-radius:20px;
    border:none;
    font-family: 'Times New Roman', Times, serif;
}
#submit-reset{background-color:var(--main--color);font-weight:bold;cursor:pointer;}
#id_new_password1,
#id_new_password2
{background-color:transparent;color:#fff;border:2px solid var(--main--color);padding:0 10px;}
.errorlist{
    color: #f00;
    list-style-type: none;
    text-align:left;
    padding-left:10px;
    padding-right: 20px;
}